.header {
    min-height: 100vh;
    padding: 41px 0 71px 0;
    background: url(../../image/bg.png) center center / cover no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 60px;
    align-items: center;
    position: relative;
    &__logo {
        img {
            display: block;
            margin: 0 auto;
            width: 110px;
        }
    }
    &__title {
        font-family: 'Bebas Neue';
        font-size: 70px;
        line-height: 70px;
        text-align: center;
        letter-spacing: 5.70937px;
        color: #fff;
        margin-top: 400px;
    }
    &__subtitle {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
        line-height: 22px;
        color: #fff;
        text-align: center;
        margin-top: 7px;
    }
    &__scroll {
        text-align: center;
        margin-top: 270px;
        a {
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 22px;
            color: #fff;
            text-align: center;
            letter-spacing: 3.7px;
            transition: all .2s;
            &:hover{
                color: #91d6f1;
                text-decoration: none;
            }
        }
    }
    .logo__svg {
        display: block;
        margin: 0 auto;
    }
}