.news{
    min-height: 99px;
    background:#171819;
    padding: 30px 0;
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        color: #fff;
        margin-right: 90px;
    }
    &__input {
        width: 270px;
        height: 40px;
    }
    &__form {
        display: flex;
    }
}